---
import "./TeamMember.css";

interface Props {
  name: string;
  role: string;
  image?: string;
  linkedin?: string;
  email?: string;
  website?: string;
}

const {
  name,
  role,
  image = "",
  linkedin = "",
  email = "",
  website = "",
} = Astro.props;
---

<div class="team-member-card">
  <div class="member-identity">
    <div class="member-image-container">
      {
        image ? (
          <img src={image} alt={name} class="member-image" />
        ) : (
          <div class="member-placeholder-image">
            <span>{name.charAt(0)}</span>
          </div>
        )
      }
    </div>
    <div class="member-copy">
      <h3 class="member-name">{name}</h3>
      <p class="member-role">{role}</p>
    </div>
  </div>
  <div class="member-actions">
    {website ? (
      <a href={website} target="_blank" rel="noopener noreferrer" class="member-button">
        [Website]
      </a>
    ) : null}
    {email ? (
      <a href={`mailto:${email}`} class="member-button">
        [Email]
      </a>
    ) : null}
    {linkedin ? (
      <a href={linkedin} target="_blank" rel="noopener noreferrer" class="member-button">
        [LinkedIn]
      </a>
    ) : null}
  </div>
</div>
